<!DOCTYPE html>
<html lang="en">
<head th:replace="/fragment/head.html::fragment-header"></head>
<body>
<!-- Navbar start -->
<div th:replace="/fragment/user_navbar.html::fragment-navbar"></div>
<!-- Navbar End -->

<!-- Single Page Header start -->
<div class="container-fluid page-header py-5">
    <h1 class="text-center text-white display-6">내 뉴스레터</h1>
</div>
<!-- Single Page Header End -->

<!-- Checkout Page Start -->
<div class="container-fluid py-5">
    <button type="button" data-progress="createNewsLetterHeader">뉴스레터 생성</button>
    <div class="container py-5">
    </div>
    <div class="row g-4">
        <div class="col-12">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th style="width: 20%;">날짜</th>
                    <th style="width: 20%;">카테고리</th>
                    <th style="width: 40%;">제목</th>
                    <th style="width: 20%;">구독자 수</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="newsletter : ${newsletterHeaderList}">
                    <td th:text="${#dates.format(newsletter.regDate, 'yyyy-MM-dd')}">날짜</td>
                    <td>
                        <div th:text="${newsletter.cat1Name} + ' > ' + ${newsletter.cat2Name} + ' > ' + ${newsletter.cat3Name}">
                            카테고리
                        </div>
                    </td>
                    <td>
                        <a th:href="@{/newsletter/list(seq=${newsletter.newsLetterHeaderSeq})}"
                           th:text="${newsletter.headerTitle}">제목</a>
                    </td>
                    <td th:text="${newsletter.subscribers}">구독자 수</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>

<span th:replace="/fragment/footer.html :: fragment-footer"></span>
<span th:replace="/fragment/commonJs.html :: fragment-commonJs"></span>

<!-- 뉴스레터 생성 팝업창 -->
<div class="modal fade" id="newsletterModal" tabindex="-1" role="dialog" aria-labelledby="newsletterModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newsletterModalLabel">뉴스레터 생성</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="newsLetterForm" method="post">
                    <div class="form-group">
                        <label>제목</label>
                        <input type="text" class="form-control" name="headerTitle" data-validation="required"
                               data-name="제목">
                    </div>
                    <div class="form-group">
                        <div class="bg-light ps-3 py-3 rounded d-flex justify-content-between mb-4">
                            <label>대분류</label>
                            <select name="cat1Code" class="border-0 form-select-sm bg-light me-3" style="width:360px;"
                                    data-progress="filter" data-validation="required" data-name="대분류">
                                <option value="">전체</option>
                                <option th:each="category : ${categoryList}"
                                        th:if="${category.catLevel} == 1"
                                        th:value="${category.catCode}"
                                        th:text="${category.catName}">대분류
                                </option>
                            </select>
                        </div>
                        <div class="bg-light ps-3 py-3 rounded d-flex justify-content-between mb-4">
                            <label>중분류</label>
                            <select name="cat2Code" class="border-0 form-select-sm bg-light me-3" style="width:360px;"
                                    data-progress="filter" data-validation="required" data-name="중분류">
                                <option value="">전체</option>
                                <option th:each="category : ${categoryList}"
                                        th:if="${category.catLevel} == 2"
                                        th:value="${category.catCode}"
                                        th:text="${category.catName}" th:data-progress="${category.upperCode}">중분류
                                </option>
                            </select>
                        </div>
                        <div class="bg-light ps-3 py-3 rounded d-flex justify-content-between mb-4">
                            <label>소분류</label>
                            <select name="cat3Code" class="border-0 form-select-sm bg-light me-3" style="width:360px;"
                                    data-progress="filter" data-validation="required" data-name="소분류">
                                <option value="">전체</option>
                                <option th:each="category : ${categoryList}"
                                        th:if="${category.catLevel} == 3"
                                        th:value="${category.catCode}"
                                        th:text="${category.catName}" th:data-progress="${category.upperCode}">소분류
                                </option>
                            </select>
                        </div>
                    </div>
                    <button type="button" data-progress="saveNewsLetterHeader" class="btn btn-primary">저장</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        Newsletter.start();
    });
</script>
</body>
</html>

