<!DOCTYPE html>
<html lang="en">

<head th:replace="/fragment/head.html::fragment-header"></head>

<body>
<!-- Navbar start -->
<div th:replace="/fragment/navbar.html::fragment-navbar"></div>
<!-- Navbar End -->

<!-- Single Page Header start -->
<div class="container-fluid page-header py-5">
    <h1 class="text-center text-white display-6" th:text="${newsletterHeader.headerTitle}">뉴스레터 제목</h1>
    <ol class="breadcrumb justify-content-center mb-0">
        <li class="breadcrumb-item" th:text="${newsletterHeader.authorId}">작가이름</li>
    </ol>
</div>
<!-- Single Page Header End -->

<!-- 뉴스레터 작성 시작 -->
<div class="container-fluid fruite py-5">
    <div class="container py-5">
        <div class="row g-4">
            <div class="col-lg-12 d-flex justify-content-center">
                <input type="hidden" name="newsLetterHeaderSeq" th:value="${newsletterHeader.newsLetterHeaderSeq}">
                <div class="col-lg-9">
                    <h3 class="mb-4">뉴스레터 작성</h3>

                    <!-- 제목 입력 -->
                    <div class="mb-3">
                        <input type="text" class="form-control" name="title" placeholder="뉴스레터 제목을 입력하세요.">
                    </div>

                    <!-- 내용 입력 -->
                    <div id="summernote"></div><br/>

                    <div class="d-flex justify-content-between">
                        <!-- 무료연재 여부 -->
                        <div class="mb-3 me-3" style="flex: 1;">
                            <label for="freeYn" class="form-label">무료연재 여부</label>
                            <select class="form-select" id="freeYn" name="freeYn">
                                <option value="Y">무료</option>
                                <option value="N">유료</option>
                            </select>
                        </div>

                        <!-- 가격  -->
                        <div id="costDiv" class="mb-3" style="flex: 1; visibility: hidden;">
                            <label for="cost" class="form-label">가격</label>
                            <input type="text" class="form-control" id="cost" name="cost" placeholder="가격을 입력하세요." value="0">
                        </div>
                    </div>

                    <div class="d-flex justify-content-end">
                        <button name="saveNewsLetter" class="btn btn-primary me-2">저장</button>
                        <button name="cancel" class="btn btn-secondary">취소</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 뉴스레터 작성 끝 -->

<!-- Copyright Start -->
<span th:replace="/fragment/footer.html :: fragment-footer"></span>
<!-- Copyright End -->

<!-- JavaScript Libraries -->
<span th:replace="/fragment/commonJs.html :: fragment-commonJs"></span>
<script type="text/javascript">
    $(function () {
        Write.start();
    });
</script>
</body>
</html>
