<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jojo.my_letter.mapper.NewsLetterMapper">
    <resultMap id="newsLetterResultMap" type="NewsLetter">
        <!-- NewsLetter -->
        <id property="newsLetterSeq" column="newsLetterSeq" />
        <result property="title" column="title" />
        <result property="content" column="content" />
        <result property="cost" column="cost" />
        <result property="freeYn" column="freeYn" />
        <result property="description" column="description" />
        <result property="newsLetterHeaderSeq" column="newsLetterHeaderSeq" />
        <result property="authorName" column="authorName" />

        <!-- NewsLetterHeader -->
        <result property="categoryCombiSeq" column="categoryCombiSeq" />
        <result property="headerTitle" column="headerTitle" />
        <result property="subscribers" column="subscribers" />
        <result property="authorId" column="authorId" />

        <!-- ImagePath -->
        <association property="imagePath" javaType="ImagePath">
            <result property="originName" column="originName" />
            <result property="savedName" column="savedName" />
            <result property="imagePath" column="imagePath" />
        </association>
    </resultMap>

    <resultMap id="newsLetterHeaderResultMap" type="NewsLetterHeader">
        <!-- NewsLetterHeader -->
        <id property="newsLetterHeaderSeq" column="newsLetterHeaderSeq" />
        <result property="categoryCombiSeq" column="categoryCombiSeq" />
        <result property="headerTitle" column="headerTitle" />
        <result property="subscribers" column="subscribers" />
        <result property="authorId" column="authorId" />
        <result property="authorName" column="authorName" />
        <result property="cat1Code" column="cat1Code" />
        <result property="cat2Code" column="cat2Code" />
        <result property="cat3Code" column="cat3Code" />
        <result property="cat1Name" column="cat1Name" />
        <result property="cat2Name" column="cat2Name" />
        <result property="cat3Name" column="cat3Name" />
        <result property="weekDay" column="weekDay" />
        <result property="regDate" column="regDate" />

        <!-- ImagePath -->
        <association property="imagePath" javaType="ImagePath">
            <result property="originName" column="originName" />
            <result property="savedName" column="savedName" />
            <result property="imagePath" column="imagePath" />
        </association>


    </resultMap>



    <insert id="insertNewsLetter" parameterType="NewsLetter" useGeneratedKeys="true" keyProperty="newsLetterSeq" keyColumn="news_letter_seq">
        INSERT INTO joo.news_letter ( /*insertNewsLetter*/
            news_letter_header_seq
          , title
          , description
          , content
          , cost
          , free_yn
          , view
          , reg_date
            )
        VALUES (
            #{param.newsLetterHeaderSeq}
          , #{param.title}
          , #{param.description}
          , #{param.content}
          , #{param.cost}
          , #{param.freeYn}
          , 0
          , NOW()
        )
    </insert>

    <select id="selectNewsLetterHeaderListByAuthorId" parameterType="String" resultMap="newsLetterHeaderResultMap">
        SELECT
            DISTINCT
                a.author_id AS authorId
              , a.news_letter_header_seq AS newsLetterHeaderSeq
              , a.header_title AS headerTitle
              , a.subscribers
              , a.week_day AS weekDay
              , a.reg_date AS regDate
              , b.cat1_code AS cat1Code
              , b.cat2_code AS cat2Code
              , b.cat3_code AS cat3Code
              , MAX(CASE WHEN b.cat1_code = c.cat_code THEN c.cat_name END) AS cat1Name
              , MAX(CASE WHEN b.cat2_code = c.cat_code THEN c.cat_name END) AS cat2Name
              , MAX(CASE WHEN b.cat3_code = c.cat_code THEN c.cat_name END) AS cat3Name
              , ip.image_path AS imagePath
              , ip.saved_name AS savedName
              , ip.origin_name AS originName
        FROM
            joo.news_letter_header a
            INNER JOIN joo.category_combi b ON a.category_combi_seq = b.category_combi_seq
            INNER JOIN joo.category c ON c.cat_code IN (b.cat1_code, b.cat2_code, b.cat3_code)
            LEFT OUTER JOIN joo.image_path ip on a.news_letter_header_seq = ip.news_letter_header_seq
        WHERE
            a.author_id = #{param}
        AND a.db_status = 'OK'
        GROUP BY
            a.author_id,
            a.header_title,
            a.subscribers,
            a.reg_date,
            b.cat1_code,
            b.cat2_code,
            b.cat3_code;
    </select>

    <insert id="insertNewsLetterHeader" parameterType="NewsLetterHeader" useGeneratedKeys="true" keyProperty="newsLetterHeaderSeq" keyColumn="news_letter_header_seq">
        INSERT INTO  /*insertNewsLetterHeader*/
            joo.news_letter_header (
                header_title
              , category_combi_seq
              , week_day
              , author_id
              , reg_date
              , db_status
            )
        VALUES (
            #{param.headerTitle}
          , #{param.categoryCombiSeq}
          , #{param.weekDay}
          , #{param.authorId}
          , NOW()
          , 'OK'
            )
    </insert>

    <select id="selectNewsLetterListByHeaderSeq" parameterType="Integer" resultType="NewsLetter">
        SELECT
            n.news_letter_seq AS newsLetterSeq
          , n.title
          , n.content
          , n.cost
          , n.free_yn AS freeYn
          , n.description
          , n.news_letter_header_seq AS newsLetterHeaderSeq
          , n.view
        FROM
            joo.news_letter n
        WHERE
            n.news_letter_header_seq = #{param}
    </select>

    <select id="selectNewsLetterHeaderBySeq" parameterType="Integer" resultType="NewsLetterHeader">
        SELECT
            nh.news_letter_header_seq AS newsLetterHeaderSeq
          , nh.category_combi_seq AS categoryCombiSeq
          , nh.header_title AS headerTitle
          , nh.subscribers
          , nh.author_id AS authorId
          , m.username AS authorName
        FROM
            joo.news_letter_header nh,joo.Member m
        WHERE
            nh.news_letter_header_seq = #{param}
        AND nh.author_id = m.id
    </select>

    <select id="selectNewsLetterBySeq" parameterType="Integer" resultMap="newsLetterResultMap">
        SELECT
            n.news_letter_seq as newsLetterSeq
          , n.title
          , n.content
          , n.cost
          , n.free_yn AS freeYn
          , n.description
          , n.news_letter_header_seq AS newsLetterHeaderSeq
          , nh.category_combi_seq AS categoryCombiSeq
          , nh.header_title AS headerTitle
          , nh.subscribers
          , nh.author_id AS authorId
          , m.username AS authorName
          , ip.origin_name AS originName
          , ip.saved_name AS savedName
         , ip.image_path AS imagePath
        FROM
            joo.news_letter n
            INNER JOIN news_letter_header nh ON n.news_letter_header_seq = nh.news_letter_header_seq
            INNER JOIN joo.Member m ON nh.author_id = m.id
            LEFT OUTER JOIN joo.image_path ip ON n.news_letter_seq = ip.news_letter_seq
        WHERE
            n.news_letter_seq = #{param}

    </select>

    <delete id="deleteNewsLetterBySeq" parameterType="Integer">
        delete from joo.news_letter
        where news_letter_seq = #{param}
    </delete>

    <update id="updateNewsLetter" parameterType="NewsLetter">
        UPDATE  joo.news_letter
        SET
            title = #{param.title}
          , description = #{param.description}
          , content = #{param.content}
          , cost = #{param.cost}
          , freeYn = #{param.freeYn}
          , upd_date = NOW()
        WHERE news_letter_seq = #{param.newsLetterSeq}
    </update>

    <insert id="insertImagePath" parameterType="ImagePath">
        INSERT INTO  /*insertImagePath*/
            joo.image_path (
                news_letter_seq
              , news_letter_header_seq
              , image_path
              , origin_name
              , saved_name
              , reg_date
        )
        VALUES (
                   #{param.newsLetterSeq}
               , #{param.newsLetterHeaderSeq}
               , #{param.imagePath}
               , #{param.originName}
               , #{param.savedName}
               , NOW()
               )
    </insert>

    <select id="selectNewsLetterHeaderListByWeekDay" parameterType="WeekDay" resultType="NewsLetterHeader">
        SELECT
            DISTINCT
            a.author_id AS authorId
          , a.news_letter_header_seq AS newsLetterHeaderSeq
          , a.header_title AS headerTitle
          , a.subscribers
          , a.week_day AS weekDay
          , a.reg_date AS regDate
          , b.cat1_code AS cat1Code
          , b.cat2_code AS cat2Code
          , b.cat3_code AS cat3Code
          , MAX(CASE WHEN b.cat1_code = c.cat_code THEN c.cat_name END) AS cat1Name
          , MAX(CASE WHEN b.cat2_code = c.cat_code THEN c.cat_name END) AS cat2Name
          , MAX(CASE WHEN b.cat3_code = c.cat_code THEN c.cat_name END) AS cat3Name
          , im.image_path as imagePath
          , im.origin_name as originName
          , im.saved_name as savedName
        FROM
            joo.news_letter_header a
                INNER JOIN joo.category_combi b ON a.category_combi_seq = b.category_combi_seq
                INNER JOIN joo.category c ON c.cat_code IN (b.cat1_code, b.cat2_code, b.cat3_code)
                INNER JOIN joo.image_path ON im.news_letter_header_seq = a.news_letter_header_seq
        WHERE
            a.week_day = #{param}
        AND a.db_status = 'OK'
        GROUP BY
            a.author_id,
            a.header_title,
            a.subscribers,
            a.reg_date,
            b.cat1_code,
            b.cat2_code,
            b.cat3_code
        ORDER BY subscribers desc
            LIMIT 8;
    </select>
</mapper>