<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jojo.my_letter.mapper.NewsLetterMapper">

    <insert id="insertNewsLetter" parameterType="NewsLetter">
        INSERT INTO joo.news_letter ( /*insertNewsLetter*/
            news_letter_header_seq
          , title
          , description
          , content
          , cost
          , freeYn
          , view
            )
        VALUES (
            #{param.newsLetterHeaderSeq}
          , #{param.title}
          , #{param.description}
          , #{param.content}
          , #{param.cost}
          , #{param.freeYn}
          , 0
        )
    </insert>

    <select id="selectNewsLetterListByAuthorId" parameterType="String" resultType="NewsLetterHeader">
        SELECT
            DISTINCT
                a.author_id AS authorId
              , a.news_letter_header_seq AS newsLetterHeaderSeq
              , a.header_title AS headerTitle
              , a.subscribers
              , a.reg_date AS regDate
              , b.cat1_code AS cat1Code
              , b.cat2_code AS cat2Code
              , b.cat3_code AS cat3Code
              , MAX(CASE WHEN b.cat1_code = c.cat_code THEN c.cat_name END) AS cat1Name
              , MAX(CASE WHEN b.cat2_code = c.cat_code THEN c.cat_name END) AS cat2Name
              , MAX(CASE WHEN b.cat3_code = c.cat_code THEN c.cat_name END) AS cat3Name
        FROM
            joo.news_letter_header a
                INNER JOIN joo.category_combi b ON a.category_combi_seq = b.category_combi_seq
                INNER JOIN joo.category c ON c.cat_code IN (b.cat1_code, b.cat2_code, b.cat3_code)
        WHERE
            a.author_id = #{param}
        GROUP BY
            a.author_id,
            a.header_title,
            a.subscribers,
            a.reg_date,
            b.cat1_code,
            b.cat2_code,
            b.cat3_code;
    </select>

    <insert id="insertNewsLetterHeader" parameterType="NewsLetterHeader">
        INSERT INTO  /*insertNewsLetterHeader*/
            joo.news_letter_header (
                header_title
              , category_combi_seq
              , author_id
              , reg_date
              , db_status
            )
        VALUES (
            #{param.headerTitle}
          , #{param.categoryCombiSeq}
          , #{param.authorId}
          , NOW()
          , 'OK'
            )
    </insert>

    <select id="selectNewsLetterListByHeaderSeq" parameterType="Integer" resultType="NewsLetter">
        SELECT
            n.news_letter_seq as newsLetterSeq
          , n.title
          , n.content
          , n.cost
          , n.freeYn
          , n.description
          , n.news_letter_header_seq AS newsLetterHeaderSeq
          , n.view
        FROM
            joo.news_letter n
        WHERE
            n.news_letter_header_seq = #{param}
    </select>

    <select id="selectNewsLetterHeaderBySeq" parameterType="Integer" resultType="NewsLetterHeader">
        SELECT
            nh.news_letter_header_seq AS newsLetterHeaderSeq
          , nh.category_combi_seq AS categoryCombiSeq
          , nh.header_title AS headerTitle
          , nh.subscribers
          , nh.author_id AS authorId
          , m.username AS authorName
        FROM
            joo.news_letter_header nh,joo.Member m
        WHERE
            nh.news_letter_header_seq = #{param}
        AND nh.author_id = m.id
        AND db_status = 'OK'
    </select>

    <select id="selectNewsLetterBySeq" parameterType="Integer" resultType="NewsLetter">
        SELECT
            n.news_letter_seq as newsLetterSeq
          , n.title
          , n.content
          , n.cost
          , n.freeYn
          , n.description
          , n.news_letter_header_seq AS newsLetterHeaderSeq
          , nh.category_combi_seq AS categoryCombiSeq
          , nh.header_title AS headerTitle
          , nh.subscribers
          , nh.author_id AS authorId
          , m.username AS authorName
        FROM
            joo.news_letter n ,news_letter_header nh, joo.Member m
        WHERE
            news_letter_seq = #{param}
        AND n.news_letter_header_seq = nh.news_letter_header_seq
        AND nh.author_id = m.id
    </select>

    <delete id="deleteNewsLetterBySeq" parameterType="Integer">
        delete from joo.news_letter
        where news_letter_seq = #{param}
    </delete>

    <update id="updateNewsLetter" parameterType="NewsLetter">
        UPDATE  joo.news_letter
        SET
            title = #{param.title}
          , description = #{param.description}
          , content = #{param.content}
          , cost = #{param.cost}
          , freeYn = #{param.freeYn}
          , upd_date = NOW()
        WHERE news_letter_seq = #{param.newsLetterSeq}
    </update>

</mapper>