<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jojo.my_letter.mapper.NewsLetterMapper">

    <insert id="insertNewsLetter" parameterType="NewsLetter">
        INSERT INTO  /*insertNewsLetter*/
            joo.news_letter (
                title,
                content,
                cost,
                freeYn,
                view,
                author_id
            )
        VALUES (
            #{param.title},
            #{param.content},
            0,
            'Y',
            0,
            #{param.authorId}
        )
    </insert>

    <select id="selectNewsLetterListByAuthorId" parameterType="String" resultType="NewsLetterHeader">
        SELECT
            author_id AS authorId, -- 명시적으로 카멜케이스로 가져와야만 동작..왜?
            header_title AS headerTitle,
            subscribers,
            reg_date AS regDate,
            category_combi_seq AS categoryCombiSeq
        FROM joo.news_letter_header
        WHERE author_id = #{param}
        AND db_status = 'OK'
    </select>

    <insert id="insertNewsLetterHeader" parameterType="NewsLetterHeader">
        INSERT INTO  /*insertNewsLetterHeader*/
            joo.news_letter_header (
                header_title
              , category_combi_seq
              , author_id
              , reg_date
              , db_status
            )
        VALUES (
            #{param.headerTitle}
          , #{param.categoryCombiSeq}
          , #{param.authorId}
          , NOW()
          , 'OK'
            )
    </insert>
</mapper>